<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cassandraHostConfigurator"
          class="me.prettyprint.cassandra.service.CassandraHostConfigurator">
        <constructor-arg value="localhost:19170"/>
    </bean>

    <bean id="cluster" class="me.prettyprint.cassandra.service.ThriftCluster">
        <constructor-arg value="TestCluster"/>
        <constructor-arg ref="cassandraHostConfigurator"/>
    </bean>

    <bean id="keyspace" class="me.prettyprint.hector.api.factory.HFactory"
          factory-method="createKeyspace">
        <constructor-arg value="EventLog"/>
        <constructor-arg ref="cluster"/>
    </bean>

    <bean id="eventDao" class="com.melexis.esb.EventDaoCassandraImpl">
        <constructor-arg ref="cluster"/>
        <constructor-arg value="EventStore"/>
        <constructor-arg value="Events"/>
    </bean>
</beans>